[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule ".bash/wp-cli"]
	path = .bash/wp-cli
	url = https://github.com/wp-cli/wp-cli
