[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule ".bash/wp-cli"]
	path = .bash/wp-cli
	url = https://github.com/wp-cli/wp-cli
[submodule ".janus/vim-easygrep"]
	path = .janus/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep
[submodule ".janus/vim-move"]
	path = .janus/vim-move
	url = https://github.com/matze/vim-move
[submodule ".janus/vim-numbertoggle"]
	path = .janus/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule ".janus/vim-surround"]
	path = .janus/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".janus/vim-togglecursor"]
	path = .janus/vim-togglecursor
	url = https://github.com/jszakmeister/vim-togglecursor
[submodule ".janus/auto-pairs"]
	path = .janus/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".janus/supertab"]
	path = .janus/supertab
	url = https://github.com/ervandew/supertab
